/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html {
  font-family: Verdana;
  width: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HEADER */
header#top-header {
  background-color: #003C6C;
  color: white;
  padding: 8px 2% 40px;
  width: 100%; }
  header#top-header div.header-title {
    font-size: 2rem;
    margin-bottom: 20px; }
  header#top-header div#top-header-menu {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    line-height: 28px; }
    header#top-header div#top-header-menu div:nth-child(2) {
      margin-left: 35px; }
    header#top-header div#top-header-menu > div {
      text-align: center; }
    header#top-header div#top-header-menu a {
      color: white; }
      header#top-header div#top-header-menu a:link {
        text-decoration: none; }
    header#top-header div#top-header-menu div#user-img figure {
      width: 50px;
      height: 50px; }
      header#top-header div#top-header-menu div#user-img figure img {
        width: 100%;
        height: 100%; }

/* MAIN */
div#body {
  /* MAIN starts here */ }
  div#body aside {
    position: fixed;
    top: 0;
    left: -560px;
    width: 100%;
    height: 100vh;
    background-color: transparent; }
    div#body aside div#aside-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.15); }
    div#body aside div#aside-container {
      position: relative;
      width: 80%;
      height: 100%;
      background-color: white;
      border: 1px solid #b4b3b3; }
      div#body aside div#aside-container div#aside-header {
        color: black;
        padding: 7px 2% 20px 2%;
        width: 100%;
        border-bottom: 0.2px solid #cccccc; }
        div#body aside div#aside-container div#aside-header div#header-top {
          display: flex;
          font-size: 3.5rem;
          justify-content: space-between; }
          div#body aside div#aside-container div#aside-header div#header-top figure {
            width: 100px;
            height: 100px;
            border-radius: 50%; }
            div#body aside div#aside-container div#aside-header div#header-top figure img {
              width: 100%;
              height: 100%; }
        div#body aside div#aside-container div#aside-header div#header-body p {
          font-size: 1.2rem;
          line-height: 22px;
          overflow-x: hidden; }
        div#body aside div#aside-container div#aside-header div#header-body p:first-child {
          font-weight: bold; }
      div#body aside div#aside-container div#aside-body {
        display: flex;
        padding-top: px;
        padding-left: 2%;
        font-size: 1.7rem;
        color: black; }
        div#body aside div#aside-container div#aside-body ul {
          list-style-type: none; }
          div#body aside div#aside-container div#aside-body ul li {
            border: 0;
            padding: 0; }
            div#body aside div#aside-container div#aside-body ul li a {
              display: block;
              width: 100%;
              padding: 12px 0; }
              div#body aside div#aside-container div#aside-body ul li a i {
                display: inline-block;
                margin-right: 25px; }
    div#body aside.open {
      left: 0px;
      transition: left 0.5s; }
    div#body aside.close {
      left: -560px;
      transition: left 0.5s; }
  div#body main section.intern {
    display: flex;
    padding: 5px 2%;
    border: 0.2px solid #cccccc; }
    div#body main section.intern div.intern-bio {
      display: flex; }
      div#body main section.intern div.intern-bio figure {
        width: 30px;
        height: 30px; }
        div#body main section.intern div.intern-bio figure img {
          width: 100%;
          height: 100%; }

/* FOOTER */
footer {
  background-color: #003C6C;
  color: white;
  width: 100%;
  padding: 15px 0; }
  footer div p {
    text-align: center; }

/* clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/* HEADER */
div#body main#index div#login-header {
  background-color: #003C6C;
  margin: 0 auto;
  padding-top: 10px;
  color: white; }
  div#body main#index div#login-header figure {
    width: 33.33%;
    margin: 0 auto; }
    div#body main#index div#login-header figure img {
      width: 100%; }
  div#body main#index div#login-header p {
    text-align: center; }

div#body main#index div#login-body {
  margin: 0 4%;
  padding: 2%;
  font-size: 1.2rem;
  margin-bottom: 20px; }
  div#body main#index div#login-body header {
    color: white;
    margin-bottom: 50px; }
    div#body main#index div#login-body header div {
      text-align: center;
      padding: 7px 0; }
  div#body main#index div#login-body form input {
    margin-top: 7px; }
  div#body main#index div#login-body form div#btn-submit {
    text-align: center; }
    div#body main#index div#login-body form div#btn-submit button {
      width: 50%; }

/* NAVIGATION */
/* MAIN */
/* FOOTER */
footer {
  position: fixed;
  width: 100%;
  bottom: 0px; }

@media only screen and (min-width: 35rem) {
  /* HEADER */
  header#top-header {
    display: flex;
    position: fixed;
    z-index: 20;
    width: 100%;
    padding: 8px 2% 5px;
    height: 70px; }
    header#top-header div#top-header-menu {
      margin-left: auto; }
      header#top-header div#top-header-menu div#hamburger {
        display: none; }
  /* BODY */
  div#body {
    display: flex;
    padding-top: 70px; }
    div#body aside {
      position: fixed;
      top: auto;
      left: auto;
      width: 100px; }
      div#body aside div#aside-background {
        display: none; }
      div#body aside div#aside-container {
        position: relative;
        width: 100%; }
        div#body aside div#aside-container div#aside-header {
          display: none; }
          div#body aside div#aside-container div#aside-header div#header-body p {
            overflow-y: hidden; }
      div#body aside div#close-btn {
        display: none; }
    div#body main {
      flex-basis: 75%;
      margin-left: 100px; }
    div#body main#index {
      flex-basis: 100%;
      margin: 0; }
  /* HEADER */
  /* NAVIGATION */
  /* MAIN */
  div#body div#login-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    div#body div#login-header figure {
      width: 35px !important;
      margin: 0 0 !important;
      margin-left: 2% !important; }
      div#body div#login-header figure img {
        width: 100%; }
    div#body div#login-header p {
      margin-left: 2%; }
  div#body div#login-body form {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 7px 0 black;
    padding: 7px 12px; }
  /* FOOTER */ }

@media only screen and (min-width: 64rem) {
  /* HEADER begins here */
  /* NAVIGATION begins here */
  /* MAIN begins here */
  div#body div#login-body form {
    width: 45%; }
  /* FOOTER begins here */ }
