$font-family: Verdana;

$menuColor: #003C6C;
$primaryColor: #00BCF2;
$secondaryColor: #56BE00;
$basicColor: #4668C5;
$regularColor: #9B4F96;

$gutter: 2%;

$dblGutter: 2 * $gutter;

$borderBottom: 0.2px solid #cccccc;
