/* HEADER */
header#header-top {
    
}

/* NAVIGATION */

/* MAIN */
div#body {
    div#login-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        figure {
            width: 35px !important;
            margin: 0 0 !important;
            margin-left: $gutter !important;

            img {
                width: 100%;
            }
        }

        p {
            margin-left: $gutter;
        }
    }
    div#login-body {
        form {            
            width: 75%;
            margin: 0 auto;
            box-shadow: 0 0 7px 0 black;
            padding: 7px 12px;

        }
    }
}

/* FOOTER */
footer {
    // position: relative
    // width: 50%;
    // margin: 0 auto;
}