/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

html { font-family: Verdana; width: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* HEADER */
div#body {
    main#index {
        div#login-header {
            background-color: $menuColor;
            margin: 0 auto;
            padding: 10px 0;
            color: white;

            figure {
                width: 33.33%;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            p {
                text-align: center;
            }
        }

        div#login-body {
            margin: 0 $dblGutter;
            padding: $gutter;
            font-size: 1.2rem;
            margin-bottom: 20px;

            header {
                color: white;
                margin-bottom: 50px;

                div {
                    text-align: center;
                    padding: 7px 0;
                }
            }

            form {
                input {
                    margin-top: 7px;
                }
                div#btn-submit {
                    text-align: center;

                    button {
                        width: 50%;
                    }

                }
            }

        }

    }

}

/* NAVIGATION */

/* MAIN */

/* FOOTER */
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: $menuColor;
    color: white;
    padding: 15px 0;
    div {
        p {
            text-align: center;
        }   
    }
}